html, body {
    height: 100vh;
    width: 100vw;
}

.calendar-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar {
    height: 100%;
}


/* ---- modal styles ---- */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 570px;
    max-width: 490px;
    outline: none;
    padding: 10px;
}


/* Custom Datepicker */
.react-datetime-picker input:focus{
    outline: none;
}

.react-datetime-picker__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid gray !important;
}

.custom-datepicker-field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* FAB styles - Floating action button */
.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 15px;
    position: fixed;
    right: 25px;
}