.custom-container{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)) , url('../../assets/calendar-medium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.custom-form {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding-right: 0px;
    padding-left: 0px
}

.custom-form h3{
    text-align: center;
    color: #333;
}

.custom-container form{
    padding: 5%;
}

.btnSubmit {
    width: 100%;
    border-radius: 5px;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.custom-form .btnSubmit {
    background-color: #0062cc;
    color: #fff;
}

.custom-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.form-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.underlineHover {
    text-decoration: none !important;
    color: #0062cc !important;
    font-weight: 400;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #0062cc;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {

    color: #0d0d0d;
    cursor: pointer;
}

.underlineHover:hover:after {
    width: 100%;
}

.user-img {
    height: 100px;
    width: 100px;
}

.img-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register-animation {
    -webkit-animation-name: moveInTop;
            animation-name: moveInTop;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    z-index: 10;
}

@-webkit-keyframes moveInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0);
                transform: translate(0);
    }
}
